*{
     align-items: center;
    justify-content: center;
}

.logo{
    width: 100%;
    height: 350px;
}

.logs{
    width: 100%;
    height: 350px;
}

.container{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(16, 20, 18);
    color: white;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

li{
    list-style-type: none;
    margin-top: 10px;
    font-size: 30px;
}

.look{
    width: 150px;
    height: 150px;
    object-fit: fill;
}

.box{
    margin-top: 50px;

    object-fit: fill;
}

#paragraph{
    margin-top: 50px;
    font-size: 20px;
}

#submit{
    margin-top: 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    width: 175px;
}
